.root {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  padding-left: 20px;
  overflow: hidden;
  width: 100%;
  gap: 8px;
  border-bottom: 1px solid lightgray;
}

.radio {
  overflow: hidden;
  white-space: pre;
}

.complete {
  text-decoration: line-through;
}
